<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>

<h1>Вход</h1>

<form method="post">

    {% csrf_token %}

    <p>
        <label>Имя пользователя</label><br>
        <input
            type="text"
            name="username"
            required
        >
    </p>

    <p>
        <label>Пароль</label><br>
        <input
            type="password"
            name="password"
            required
        >
    </p>

    <button type="submit">
        Войти
    </button>

</form>

<p>
    Нет аккаунта?
    <a href="{% url 'Register' %}">
        Зарегистрироваться
    </a>
</p>

</body>
</html>